<!DOCTYPE html>
<html>
<head>
<style>
 #f1 { font-size:22px }
</style>
<title>Calculator WebApp</title>
<script
 src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
</script>
</head>
<body>
<div ng-app="calApp" ng-controller="calCtrl">
 <h1>Calculator App</h1>
 <input id="f1" type="number" ng-model="num1" placeholder="Enter First Number">
 <input id="f1" type="number" ng-model="num2" placeholder="Enter Second Number">
 <select id="f1" ng-model="operator">
 <option value="+">+</option>
 <option value="-">-</option>
 <option value="*">*</option>
 <option value="/">/</option>
 </select>
 <br><br>
 <button id="f1" ng-click="calculate()">Calculate</button>
 <p id="f1"> Result : {{result}}</p>
</div>
<script>
 var app = angular.module("calApp", []);
 app.controller("calCtrl", function($scope) {
 $scope.num1 = 0;
 $scope.num2 = 0;
 $scope.operator = "+";
 $scope.result = 0;
 $scope.calculate = function() {
 switch ($scope.operator) {
 case "+":
 $scope.result = parseFloat($scope.num1) + parseFloat($scope.num2); 
 break;
 case "-":
 $scope.result = $scope.num1 - $scope.num2;
 break;
 case "*":
 $scope.result = $scope.num1 * $scope.num2;
 break;
 case "/":
 $scope.result = $scope.num1 / $scope.num2;
 break;
 }
 };
 });
</script>
</body>
</html>
